*[b-fikyxq501j]{
    margin: 0;
    padding: 0;
}

.main[b-fikyxq501j]{
    height: 100vh;
    display: grid;
    grid-template-rows: 55% 45%;
}

.main .top[b-fikyxq501j]{
    display: grid;
    grid-template-columns: 50% 50%;
}

.main .bottom[b-fikyxq501j]{
    background-color: lightblue;
}

.main .top .preview-containter[b-fikyxq501j]{
}

.main .top .preview-containter .preview-box[b-fikyxq501j]{
    background-color: cornflowerblue;
    height: 100%;
}

.main .top .live-container[b-fikyxq501j]{
}

.main .top .live-container .live-box[b-fikyxq501j]{
    background-color: black;
    height: 100%;
}

.main .bottom .navigate-container[b-fikyxq501j]{
}

.span-2[b-fikyxq501j]{
    grid-column: span 2;
}