
.main[b-97fdg6tg2k]{
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1[b-97fdg6tg2k]{
    color: red;
    font-size: 7em;
}